{% load i18n %}

<div class="sga-block" data-state="{{ student_state }}" data-max-size="{{ max_file_size }}" data-staff="{{ is_course_staff }}">
 
  <script type="text/template" id="sga-tmpl">
    <div style="padding:10px 0px;">
      <% if (error) { %>
        <p class="error"><%= error %></p>
      <% } %>
      <table style="width: 100%;" cellpadding="5">
      <% if (display_name) { %>
        <caption><b><%= display_name %></b></caption>
      <% } %>
        <tr>
          <th style="width:30%;"></th>
          <th style="width:51%;"></th>
          <th style="width:19%;"></th>
        </tr>
        <tr>
          <td style="text-align:right;"><b>&#x5DF2;&#x4E0A;&#x4F20;&#x6587;&#x4EF6;</b>:</td>
          <td>
          <% if (uploaded) { %>
            <a class="autocutstring" href="<%= downloadUrl %>" title="<%= uploaded.filename %>"><%= uploaded.filename %></a>
          <% } %>
          </td>
          <td>
          <% if (upload_allowed) { %>
            <div class="upload">
              <input class="fileupload" type="file" name="assignment"/>
              <button>&#x9009;&#x62E9;&#x6587;&#x4EF6;</button>
            </div>
          <% } %>
          </td>
        </tr>
        <% if(graded) { %>
        <tr>
          <td style="text-align:right;"><b>&#x5BFC;&#x5E08;&#x6279;&#x6CE8;&#x6587;&#x4EF6;</b>:</td>
          <td colspan="2">
          <% if (annotated) { %>
            <a class="autocutstring" href="<%= annotatedUrl %>"><%= annotated.filename %></a>
          <% } %>
          </td>
        </tr>
        <tr>
          <td style="text-align:right;"><b>&#x60A8;&#x7684;&#x5206;&#x6570;(Max <%= max_score %>)</b>:</td>
          <td colspan="2">
              <%= graded.score %>
          </td>
        </tr>
        <tr>
          <td style="text-align:right;"><b>&#x5BFC;&#x5E08;&#x8BC4;&#x8BED;</b>:</td>
          <td colspan="2">
          <% if (graded.comment) { %>
              <pre style="padding:0px;margin:0px;"><%= graded.comment %></pre>
          <% } %>
          </td>
        </tr>
        <% } %>
      </table>
    </div>
  </script>


  <div id="sga-content">
  </div>

  {% if is_course_staff %}
  <script type="text/template" id="sga-grading-tmpl">
    <table class="gridtable" style="width: 1160px;">
      <tr>
        <th style="width:9%;">&#x5B66;&#x751F;</th>
        <th style="width:14%;">&#x6587;&#x4EF6;</th>
        <th style="width:14%;">&#x6279;&#x6CE8;</th>
        <th style="width:30%;">&#x8BC4;&#x8BED;</th>
        <th style="width:8%;">&#x5206;&#x6570;</th>
        <th style="width:14%;"></th>
        <th style="width:11%;"></th>
      </tr>

      <% for (var i = 0; i < assignments.length; i++) { %>
      <%     var assignment = assignments[i]; %>
        <tr id="row-<%= assignment.module_id %>">
          <td><%= assignment.fullname %></td>
          <td>
            <% if (assignment.filename) { %>
              <a class="autocutstring" href="<%= downloadUrl %>?student_id=<%= assignment.student_id %>" title="<%= assignment.filename %>">
                <%= assignment.filename %>
              </a>
            <% } %>
          </td>
          <td>
            <% if (assignment.annotated) { %>
              <a class="autocutstring" href="<%= annotatedUrl %>?module_id=<%= assignment.module_id %>" title="<%= assignment.annotated %>">
                <%= assignment.annotated %>
              </a>
            <% } %>
          </td>
          <td><span class="autocutstring"><%= assignment.comment %><span></td>
          <td>
            <% if (assignment.score !== null) { %>
              <%= assignment.score %> /
              <%= max_score %>
              <% if (! assignment.approved) { %>
                ({% trans "&#x7B49;&#x5F85;&#x5BFC;&#x5E08;&#x5BA1;&#x6838;" %})
              <% } %>
            <% } %>
          </td>
          <td style="padding:1px 5px;">
            <div class="upload">
              <button type="button">&#x6279;&#x6CE8;&#x6587;&#x4EF6;</button>
              <input class="fileupload" type="file" name="annotated"/>
            </div>
          </td>
          <td style="padding:1px 5px;">
            <% if (assignment.may_grade) { %>
            <button type="button" class="enter-grade-button" href="#{{ id }}-enter-grade">
              <% if (assignment.needs_approval) { %>
                {% trans "&#x5F97;&#x5206;&#x5BA1;&#x6838;" %}
              <% } else { %>
                  {% trans "&#x8F93;&#x5165;&#x5F97;&#x5206;" %}
              <% } %>
            </button>
            <% } %>
          </td>
        </tr>
      <% } %>
    </table>
  </script>

  <div aria-hidden="true" class="wrap-instructor-info">
    <a class="instructor-info-action staff-debug-info-button" href="#{{ id }}-debug">{% trans "Staff Debug Info" %}</a>
    <a class="instructor-info-action grade-submissions-button" href="#{{ id }}-grade">{% trans "&#x5F97;&#x5206;" %}</a>
  </div>

  <section aria-hidden="true" class="modal staff-modal" id="{{ id }}-grade" style="top:50px!important;">
    <div class="inner-wrapper" style="color: black; overflow: hidden;">
      <header style="padding: 0px;margin-bottom:10px;">
        <h2 style="float:none;text-align: center;">
          <span class="display_name">{{ display_name }}</span> - {% trans "&#x4F5C;&#x4E1A;&#x7BA1;&#x7406;" %}
        </h2>
      </header>
      <div id="grade-info" style="display: block;padding: 0px;margin:0px;height: 420px;overflow-x:hidden;overflow-y:auto;">
        Loading...
      </div>
    </div>
  </section>

  <section aria-hidden="true" class="modal staff-modal" id="{{ id }}-debug">
    <div class="inner-wrapper" style="color: black">
      <header style="padding: 0px;margin-bottom:10px;"><h2 style="float:none;text-align: center;">{% trans "Staff Debug" %}</h2></header>
      <div class="staff_info" style="display: block;min-height: 280px; white-space: normal">
        is_released = {{ is_released }}<br/>
        location = {{ location }}<br/>
        <br/>
        <table summary="${_('Module Fields')}">
          <tr><th>{% trans "Module Fields" %}</th></tr>
          {% for name, field in fields %}
          <tr>
            <td>{{name}}</td>
            <td>
              <pre style="display:inline-block; margin: 0;">{{field}}</pre>
            </td>
          </tr>
          {% endfor %}
        </table><br/>
        category = {{category}}
      </div>
    </div>
  </section>

  <section aria-hidden="true" class="modal grade-modal" style="width:800px;" id="{{ id }}-enter-grade">
    <div class="inner-wrapper" style="color: black">
      <header style="padding: 0px;margin-bottom:10px;">
        <h2 style="float:none;text-align: center;">{% trans "&#x8F93;&#x5165;&#x8BC4;&#x5206;" %}
          <span id="student-name"></span>
        </h2>
      </header>
      <div style="display: block;width:100%;min-height: 280px;">
        <form id="enter-grade-form">
          <input id="module_id-input" type="hidden" name="module_id"/>
          <input id="submission_id-input" type="hidden" name="submission_id"/>
          <table style="width: 100%;" cellpadding="5">
            <tr>
              <th style="width:18%;"></th>
              <th style="width:82%;"></th>
            </tr>
            <tr>
              <td><strong>&#x5F97;&#x5206;:</strong></td>
              <td>
                <input id="grade-input" name="grade" style="width:552px;padding:3px;" />
                <span class="error"></span>
              </td>
            </tr>
            <tr>
              <td><strong>&#x8BC4;&#x8BED;:</strong></td>
              <td>
                  <textarea id="comment-input" name="comment" style="width:562px;height:180px;padding:3px;margin:0px;" ></textarea>
              </td>
            </tr>
            <tr>
              <td></td>
              <td>
                <button type="button" style="float:left;" id="remove-grade">{% trans "&#x79FB;&#x9664;&#x8BC4;&#x5206;" %}</button>
                <button type="button" style="float:right;margin-right:0px;" id="enter-grade-cancel">{% trans "&#x53D6;&#x6D88;" %}</button>
                <button type="submit" style="float:right;margin-right:10px;">{% trans "&#x63D0;&#x4EA4;" %}</button>
              </td>
            </tr>
          </table>

        </form>
      </div>
    </div>
  </section>
  {% endif %}
</div>
